body {
    margin: 0;
    overflow: hidden;
    font: 8vh/1 sans-serif;
    transition: background-color 1s;
}
video, img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    box-sizing: border-box;
}
#marquee {
    position:absolute;
    bottom: 0;
    height: 1.1em;
    width: 100vw;
    background: #FFF8;
    white-space: nowrap;
    transition: background-color 2s;
}
#marquee.empty {
    background: none;
}
#marquee > * {
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
}
#marquee > * > span::after {
/*    content: "\2022"; */
    content: "";
    padding: 0 1em;
}
#clock {
    position: absolute;
    background: transparent;
    top: 8px;
    right: 8px;
    width: 8em;
    font-size: 0.5em;
    color: black;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, 2px 2px 0 white, -2px 2px 0 white;
    height: 1.1em;
    text-align: center;
}
.fade {
    animation: 1s linear forwards fade-out;
}
.fade.fade-active {
    animation: 1s linear forwards fade-in;
}
img.fade.fade-active.kenburns {
    animation: 1s linear forwards fade-in, var(--time, 60000s) linear forwards kenburns
}
@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(var(--drift, 1));
  }
}
